{
  "presets": ["env", "stage-3", "react"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "client": "./client",
          "configs": "./configs",
          "computed": "./client/computed",
          "components": "./components",
          "modules": "./client/modules",
          "utils": "./utils"
        }
      }
    ]
  ]
}
