{
  "presets": ["es2015", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "client": "./client",
          "configs": "./configs",
          "computed": "./client/computed",
          "components": "./components"
        }
      }
    ]
  ]
}
